.Cars {
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-radius: 15px;
}
.Cars:hover > .CarImage {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.Cars:hover {
    transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
}
.CarImage {
    width: 100px;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background: #5C258D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.BimitoStep {
    padding: 20px 150px !important;
}
.CarName {
    font-weight: 600;
    margin: 23px 0 0 0;
    color: #fff;
    opacity: 0;
}
.Cars:hover > .CarName {
    transition: all .2s ease-in-out;
    opacity: 1;
}
.YearPicker {
    width: 100%;
}
.ant-steps-item {
    cursor: pointer;
}